.wrapper {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.cardRow {
  margin-bottom: 24px;
}

.reportTable {
  margin-top: 16px;
}
