server:
  port: 8080

security:
  jwt:
    # Override in Docker/ENV. Must be >= 32 chars for HS256.
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_32CHARS_MIN"
    clockSkewSeconds: 30

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://auth-service:8081
          predicates:
            - Path=/auth/**
        - id: user-service
          uri: http://user-service:8082
          predicates:
            - Path=/users/**
        - id: project-service
          uri: http://project-service:8083
          predicates:
            - Path=/projects,/projects/**

management:
  endpoints:
    web:
      exposure:
        include: health,info

