server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://postgres:5432/labodc
    username: labodc
    password: labodc
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

security:
  jwt:
    # Must match api-gateway + user-service
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_32CHARS_MIN"
    expirationSeconds: 86400

logging:
  level:
    org.hibernate.SQL: warn
